include README.md
include Dockerfile
include apikey_permissions.txt
recursive-include threat_analysis_with_uptycs/util *
include threat_analysis_with_uptycs/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/* *.json
include tox.ini
include setup.py
recursive-include tests *
include data/*.md
global-exclude *.bak